.linear-gradient-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #121212;
    overflow: hidden;
}

/* Gradient overlay only on bottom half */
.linear-gradient-container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;

    background: linear-gradient(209.72deg, rgba(18, 18, 18, 0) 38.97%, #162D2E 52.32%, #1A4D50 67.77%, #00FF7D 84.49%),
        linear-gradient(150.49deg, rgba(0, 0, 0, 0) 17.59%, #0066FF 101.95%);

    pointer-events: none;
}