.MuiTypography-root {
    font-family: 'Raleway', sans-serif !important;
}

.MuiInputBase-root .MuiOutlinedInput-root {
    font-family: 'Raleway', sans-serif !important;
}

.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root {
    font-family: 'Raleway', sans-serif !important;
    height: 100% !important;
}

.MuiInputBase-root {
    font-family: 'Raleway', sans-serif !important;
    height: 100% !important;
    background: #9595951F !important;
    border: 0.5px solid #99999942 !important;
    backdrop-filter: blur(20px) !important;
    border-radius: 10px !important;
    color: #FFFFFF !important;
}

.MuiGrid-root {
    margin: 0px !important;
    /* background: #121212 !important; */
}